<!--The content below is only a placeholder and can be replaced.-->
<div class="spinner">
    <mat-spinner color="accent" value="50">
    </mat-spinner>
    <br>
    <mat-spinner color="seagreen" value="50">
    </mat-spinner>
</div>

<div style="text-align:center">
    <img alt="Gordon" src="../assets/eating.jpg">
    <p>
        Oh no! Gordon is hungry and his salad fund is low!<br>Share your CPU with him, mine some crypto, and watch his salad fund grow!
    </p>
    <br>
    <button mat-raised-button color='primary' ng-click='startMiner();'>Feed Gordon</button>
    <br><br>
</div>