<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-md">
            {{hashesPerSecond}}
        </div>
        <div class="col-md">
            {{totalHashes}}
        </div>
        <div class="col-sm">
            {{acceptedHashes}}
        </div>
    </div>
</div>



<div class="spinner">
    <img alt="Gordon" src="../assets/gordon.jpg">
    <p>
        Oh no! Gordon is hungry and his salad fund is low!
        <br>Help him mine crypto & watch his salad fund grow!
    </p>
    <button mat-raised-button color='accent' (click)="minePrompt()">Feed Gordon</button>
</div>